.add_content {
  text-align: left;
}

select {
  width: auto;
  padding: 10px;
  border: none;
  border-radius: 4px;
}

input {
  padding: 10px;
  border: none;
  border-bottom: 2px solid red;
}

label {
  margin-right: 8px;
}

input[type="text"] {
  height: 100px;
}
