.layout {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 800px;
  height: auto;
  max-height: 520px;
  padding: 30px;
  display: grid;
  grid:
    "null title_top" 1fr
    "title title_field" 1fr
    "content content_field" 1fr
    "date date_field" 1fr
    "author author_field" 1fr
    "empty button" 1fr
    / auto 1fr;
  z-index: 2;
  border: 7px solid #0099ff;
  background-color: rgb(0, 0, 0, 80%);
  border-radius: 30px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  padding: 6px;
  height: 30px;
  line-height: 50%;
  background-color: #0099ff;
  cursor: pointer;
}

.title_top {
  grid-area: 1/2;
  padding-bottom: 20px;
  text-align: center;
  color: #fff;
}

.title {
  grid-area: title;
  text-align: right;
  line-height: 200%;
  margin-right: 10px;
}
.title_field {
  grid-area: title_field;
}
.title_content {
  width: 500px;
}
.content {
  grid-area: content;
  text-align: right;
  line-height: 200%;
  margin-right: 10px;
}
.content_field {
  grid-area: content_field;
}
.blog_content {
  width: 500px;
  height: 200px;
  max-height: 200px;
}
.date {
  grid-area: date;
  text-align: right;
  line-height: 300%;
  margin-right: 10px;
}
.date_field {
  grid-area: date_field;
  padding: 10px 0;
}
.author_label {
  grid-area: author;
  text-align: right;
  line-height: 200%;
  margin-right: 10px;
}
.author_field {
  grid-area: author_field;
}
.empty {
  grid-area: empty;
}
.button {
  grid-area: button;
}

.add_content {
  text-align: left;
  color: #fff;
}

select {
  width: auto;
  padding: 5px;
  border: none;
  border-radius: 4px;
}

input {
  padding: 5px;
}

.btn_add {
  margin-top: 10px;
  padding: 10px 15px;
  border: none;
  background: #007bff;
  color: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.btn_add:hover {
  background-color: #99cc32;
}

.btn_add:hover {
  background-color: #99cc32;
}
