.login_top_btn {
  position: absolute;
  top: 0;
  left: 50%-50px;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: yellowgreen;
  cursor: pointer;
}

.cd-main-header {
  background-color: #0099ff;
}

span {
  font-style: italic;
  font-weight: 700;
}

.wave {
  position: absolute;
}
