/* Author's - start */
.cats_indi,
.cats_tiger,
.login_top_btn {
  position: absolute;
  top: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  background-color: hsl(111, 51%, 60%);
  cursor: pointer;
}

.login_top_btn {
  right: calc(10% - 50px);
  height: 30px;
  line-height: 27px;
  font-size: 1rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: 0.5s;
}
.login_top_btn:hover {
  background-color: #fff;
  color: #0099ff;
}

.cats_info {
  position: absolute;
  top: 0;
  width: 320px;
  height: 40px;
  z-index: 5;
}

.cats_indi,
.cats_tiger {
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  font-weight: bold;
  transition: 0.5s;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cats_tiger {
  width: 150px;
  right: 0;
}
.cats_tiger:hover {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.cats_tiger:hover:before {
  content: "Tiger";
}
.cats_indi:hover {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.cats_indi:hover:before {
  content: "Indi";
}

img.indi {
  position: relative;
  top: -190px;
  transition: 0.5s;
  border: 7px solid hsl(111, 51%, 60%);
  z-index: -1;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

img.tiger {
  position: relative;
  top: -268px;
  transition: 0.5s;
  z-index: -1;
  border: 7px solid hsl(111, 51%, 60%);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

img.indi_show {
  top: 0px;
}

img.tiger_show {
  top: 0px;
}
/* Author's - end  */

.cd-main-header {
  background-color: #0099ff;
}

span {
  display: inline-block;
  padding-bottom: 5px;
  font-weight: 700;
}

.wave {
  position: absolute;
}
