/* --------- Author's - start --------- */
.cats_indi,
.cats_tiger,
.login_top_btn {
  position: absolute;
  top: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
}

.login_top_btn {
  top: -2px;
  right: calc(10% - 50px);
  height: 30px;
  line-height: 24px;
  font-size: 1rem;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border: 2px solid var(--my-green);
  background-color: transparent;
  transition: 0.5s;
}
.login_top_btn:hover {
  background-color: #fff;
  color: var(--wave-color);
}

.cats_info {
  position: absolute;
  top: 0;
  width: 320px;
  height: 40px;
  z-index: 2;
}

.cats_indi,
.cats_tiger {
  width: 150px;
  height: 30px;
  line-height: 30px;
  font-size: 1.2rem;
  transition: 0.5s;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.cats_tiger {
  right: 0;
}
.cats_tiger:hover {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.cats_tiger:hover:before {
  content: 'Tiger';
}
.cats_indi:hover {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.cats_indi:hover:before {
  content: 'Indi';
}

img.indi,
img.tiger {
  position: relative;
  top: -110px;
  transition: 0.5s;
  border: 10px solid #fff;
  z-index: -1;
  box-shadow: 5px 5px 5px 5px #111;
}

img.tiger {
  top: -229px;
}

img.indi_show {
  top: 5px;
}

img.tiger_show {
  top: 5px;
}
/* --------- Author's - end ---------  */

p.slogan {
  font-family: 'Handlee', 'Afacad Flux';
  font-size: 2rem;
  color: #fff;
}

.cd-main-header {
  background-color: #0076de;
}

span {
  padding: 5px 0;
}

.wave {
  position: absolute;
}

@media (max-width: 600px) and (orientation: portrait) {
  .cats_indi,
  .cats_tiger {
    height: 15px;
    font-size: 1rem;
    line-height: 15px;
  }
  .cats_indi:hover,
  .cats_tiger:hover {
    height: 30px;
    line-height: 30px;
  }

  img.indi_show {
    top: 5px;
  }

  img.tiger_show {
    top: 5px;
  }

  h1 {
    margin: 60px 50px 0 50px;
  }

  .login_top_btn {
    top: 150px;
    width: 70px;
    font-size: 0.8rem;
    border-radius: 0px;
  }

  p.slogan {
    font-size: 1.5rem;
  }
}
