.login-panel {
  position: absolute;
  top: 40px;
  right: calc(10% - 100px);
  padding: 20px;
  background-color: rgb(0, 0, 0, 80%);
  z-index: 2;
  border-radius: 14px;
}

.login-panel input {
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}

.login-panel button {
  margin-top: 20px;
}

@media (max-width: 600px) and (orientation: portrait) {
  .login_top_btn {
    top: 185px;
    right: 0;
    border-right: 0px;
    z-index: 2;
  }

  .login-panel {
    top: 50px;
    right: calc(50% - 30%);
    background-color: #000;
    z-index: 5;
    border-radius: 15px;
    opacity: 1;
    transition: 1s;
  }
}

@media (max-width: 900px) and (orientation: landscape) {
  .login-panel {
    right: 30px;
  }
}
